<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.xeros.medcal"
	version 	= "1.1.2">

	<name>MedCal</name>

	<description>Une petite application de calculatrice médicale.</description>

	<author href="http://sapk.fr" email="antoine.girard@sapk.fr">
		Antoine GIRARD
	</author>
	<icon src="icon.png" gap:role="default" />

    <gap:splash src="splash.png" />

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
